@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a84b7a; /* muted pink */
    border-radius: 10px;
}

.body {
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

#Home {
    background-image: linear-gradient(to bottom right, #180a33, #f145c3); /* deep green to floral pink */
    width: 100%;
    
    overflow-x: hidden;
}

#header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

#header a {
    color: #05021b;
    transition: 0.9s;
    position: relative;
}

#header a::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    box-shadow: 0 0 0px 0px white;
    transition: all 0.6s;
}

#header a:hover::before {
    width: 100%;
    box-shadow: 0 0 50px 15px #b95a8b;
}

#header a:hover {
    color: white;
}

#Homecontent {
    color: #ffffff;
    padding: 50px 50px;
    

}

#Media {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}

#Media img {
    width: 40px;
    height: 40px;
    margin: 10px;
    box-shadow: 0 0 0px 0px #bbb8ba;
    transition: 0.5s;
     
     
}

#Media img:hover {
    box-shadow: 0 0 50px 15px #a84b7a;
    background-color: #0b011d;
    border-radius: 20px;
}

#DownloadBT {
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    text-decoration: none;
    transition: 0.6s;
}

#DownloadBT:hover {
    color: #ffffff;
    background-color: #a84b7a;
}

#DownloadBT a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

#DownloadBT:hover a {
    color: #ffffff;
}

#Services {
    background-image: linear-gradient(to top right,  #180a33, #f145c3);
    color: #e9e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#serv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #0b011d;
    width: 100%;
    padding: 15px 20px;
}

#cards {
    color: #f8f7f7;
    background-color: #0b011d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards img {
    transition: transform 0.5s;
}

#cards:hover img {
    transform: scale(1.1);
}

#About {
    background-image: linear-gradient(to bottom right,  #0b011d, #b95a8b);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#aboutcrd {
    background-color:  #0b011d;
    color: #ffffff;
}

#aboutcrd a {
    text-decoration: none;
    color: #b95a8b;
}

#contactform {
    padding: 20px;
    color: #ffffff;
}

#emailHelp {
    color: #ffffff;
}

#msg {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#BMedia {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#BMedia img {
    width: 30px;
    height: 30px;
    margin: 10px;
    box-shadow: 0 0 0px 0px #a84b7a;
    transition: 0.5s;
}

#BMedia img:hover {
    box-shadow: 0 0 50px 15px #a84b7a;
    background-color: #fbfbfb;
    border-radius: 20px;
}

.popup {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    box-shadow: 0 0 50px 15px #a84b7a;
    transition: transform 0.4s, top 0.4s;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background-image: linear-gradient(to bottom right, #295c2b, #b95a8b);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 440px) {
    .popup {
        width: 70%;
        height: 37%;
    }

    #tweeicon,
    #fbicon {
        display: none;
        visibility: hidden;
    }
}
